body{
    text-align: center;
    background: linear-gradient(#796b5d, #2f6a83);
    height: 100vh;
}

.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:5px solid black;
    margin:1rem;
}
h2{
    margin-left: 520px;
    width:30%;
    box-shadow:5px 5px 10px rgb(83, 87, 107);
    border-radius: 20px;
}

.btn-con{
    display:flex;
    justify-content: center;
}
.pink{
    background-color: rgb(175, 94, 168);
}
.orange{
    background-color:rgb(202, 142, 31);
}
.green{
    background-color:rgb(69, 182, 116);
}
.blue{
    background-color:rgb(95, 72, 223);
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}